@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:#e6e6e6;
  color:#333;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.box{
	background-color:white;
	border: 1px solid #c2c2c2;
	border-width: 1px 1px 3px 3px;
	border-radius: 4px;
  padding: 10px 15px 10px 15px;
}