.route--active {
  color: white;
}
.menu{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: #594f4f;
	top:0;
	width: 100%;
}

.menu li{
	float:left;
	padding: 14px 50px;
	text-decoration:none;
}