.tablenew{
	width:100%;
}
.btnnew{
	padding: 10px 20px;
	background-color: #45ada8;
	border:none;
	border-radius: 6px;
	-webkit-transition-duration: 0.4s;
	margin: 10px auto;
}
.btnnew:hover{
	background-color: #547980
}
.tablenew th{
	text-align:center; 
}
.tablenew td{
	text-align:left;
}